.highlight {
    background-color: #80c0b5;
}

.navbar-style {
    background-color: rgb(157, 43, 92) !important;
}

.green-highlight {
    color: green;
    font-size: 40px;
}

.red-highlight {
    color: red;
    font-size: 25px;
}
